.l-header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    background-color: lightgray;
    color: #ffffff;
    padding: 4px 0;
    box-sizing: border-box;
}
.c-header_logo {
    padding: 0;
    margin: 0;
}
